<p id="notice"><%= notice %></p>

<div class="view-content">

  <div class="title">
    <h1><%= @project.name %> Bills</h1>
  </div>

  <div class="table-bills-index">

    <table>
      <thead>
        <tr>
          <th>Purchase date</th>
          <th>Contact</th>
          <th>Bill type</th>
          <th>Total amount</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.purchase_date %></td>
            <td><%= bill.contact.full_name %></td>
            <td><%= bill.bill_type.name %></td>
            <td><%= bill.total_amount || 0 %></td>
            <td><%= link_to 'Show', project_bill_path(@project, bill) %></td>
            <td><%= link_to 'Edit', edit_project_bill_path(@project, bill) %></td>
            <td><%= link_to 'Destroy', project_bill_path(@project, bill), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Bill', new_project_bill_path(@project) %>
</div>
