<p id="notice"><%= notice %></p>

<div class="view-content">

  <div class="title">
    <h1>Categorias</h1>
  </div>

  <div class="table-categories-index">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, project_category_path(@project, category) %></td>
            <td><%= link_to category.description, project_category_path(@project, category) %></td>
            <td><%= link_to 'Editar', edit_project_category_path(@project, category) %></td>
            <td><%= link_to 'Eliminar', project_category_path(@project.id, category), method: :delete, data: { confirm: 'Estas segur@?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Category', new_project_category_path %>
</div>